/*GLOBAL*/
.width-25{
    width: 25%;
}
.width-33{
    width: 33.3333%;
}
.width-50{
    width: 50%;
}
.width-75{
    width: 75%;
}
.width-100{
    width: 100%;
}

/*INPUT and BTNS*/
.input-text{
    border-style: none;
    width: 100%;
    height: 50px;
    float: left;
    text-indent: 10px;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 2.5px;
    border: 1px solid rgba(33, 150, 243, 0.2);
}

.input-submit{
    border-style: none;
    width: auto;
    height: 40px;
    font-size: 14px;
    background-color: rgba(33, 150, 243, 0.5);
}

.input-container{
    float: left;
    height: auto;
    margin: 2px;
    box-sizing: border-box;    
}

.signin-wrapper{
    width: 300px;
    height: auto;
    box-sizing: border-box;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

