<!DOCTYPE html>
<html>
    <head><title>Signup</title></head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
<body>
    <h1>Hi Signup</h1>
        <div class="signin-wrapper">
          <form action="/dashb" method="POST">
            <div class="input-container width-100">
                <input type="email" name="strEmail" class="input-text" placeholder="Email" required />
            </div>
            <div class="input-container width-100">
                <input type="text" name="strFName" class="input-text" placeholder="First Name" required />
            </div>
            <div class="input-container width-100">
                <input type="text" name="strLName" class="input-text" placeholder="Last Name" required />
            </div>
            <div class="input-container width-100">
                <input type="password" name="strPassw1" class="input-text" placeholder="Password" required />
            </div>
            <div class="input-container width-100">
                <input type="password" name="strPassw2" class="input-text" placeholder="Re-Enter Password" required />
            </div>
            <div class="input-container width-100">
                <button type="submit" class="input-submit">Signup</button>
            </div>
        </form>

        {% if error!="" %}
        <h1>{{ error }}</h1>
        {% endif %}
    </div>
</body>
</html>